<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %> List</h1>
</div>
<% if @projects.empty? %>
  You have no projects
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:identifier) %></th>
        <th><%= model_class.human_attribute_name(:start_date) %></th>
        <th><%= model_class.human_attribute_name(:end_date) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>

      <% @projects.each do |project| %>
      <!-- show only root projects -->
        <% if not project.parent %> 
          <tr>
            <td><%= link_to project.id, project_path(project) %></td>
            <td><%= project.name %></td>
            <td><%= project.identifier %></td>
            <td><%= project.start_date %></td>
            <td><%= project.end_date %></td>
            <td><%=l project.created_at %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          project_path(project.identifier), :class => 'btn btn-mini' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_project_path(project), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          project_path(project),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user.role? :admin %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_project_path,
              :class => 'btn btn-primary' %>
<% end %> 
